@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-surface: #f9fafb;
  --color-surface-border: #e5e7eb;
  
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
}

/* Custom base styles if needed */
@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-surface: #111827;
    --color-surface-border: #1f2937;
  }
  
  @layer base {
    body {
      @apply bg-gray-950 text-gray-50;
    }
  }
}
